$primary : #B03A51;
$secondary : #7E3C40;
$glam: #865773;
$font-family-sans-serif: "Mooli", sans-serif !default;
$font-family-serif : "Montserrat", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";

