@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


html{
    position: relative;
    min-height: 100%;
    margin:0%;
    overflow-x: hidden;
}


// Navbar

nav {
    background-color: $primary;
    font-family: $font-family-sans-serif;
    color: white;
   
}
.navbar-brand {
    color: white;
    
}
.nav-link {
    color: white;
    margin: 0 2rem;
   
}
#navbar-title {
    font-family:"Great Vibes", sans-serif;
    letter-spacing: 0.1em;
    font-size: 200%;
}

//Titre
.hero-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../image/herbes2.jpg);
        background-size: cover;
       
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


// Footer
main{margin-bottom: 200px;}
footer.footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: $primary;
    font-family: $font-family-sans-serif; color: white;
    
}
