@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


html{
    position: relative;
    min-height: 100%;
    margin:0%;
    overflow-x: hidden;
}


// Navbar

nav {
    background-color: $primary;
    font-family: $font-family-sans-serif;
    color: white;
   
}
.navbar-brand {
    color: white;
    
}
.nav-link {
    color: white;
    margin: 0 2rem;
   
}
#navbar-title {
    font-family:"Great Vibes", sans-serif;
    letter-spacing: 0.1em;
    font-size: 200%;
}

//Titre
.hero-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../image/herbes2.jpg);
        background-size: cover;
       
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
//Les menus 

.image-card{
    position:relative;
    &:hover{
        .titre-image{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
    }

    img{
        transition: all 0.3s;
    }

    .titre-image{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
        color: white
    }
}
//Formulaires 
.contact-container {
            max-width: 600px;
            margin: 50px auto;
 }
.form-card {
            background: white;
            border-radius: 15px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            padding: 30px;
 }
// Footer
main{margin-bottom: 350px;}
footer.footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: $primary;
    font-family: $font-family-sans-serif; color: white;
    
}
