@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


html{
    position: relative;
    min-height: 100%;
    margin:0%;
    overflow-x: hidden;
}


// Navbar

nav {
    background-color: $primary;
    font-family: $font-family-sans-serif;
    color: white;
   
}
.navbar-brand {
    color: white;
    
}
.nav-link {
    color: white;
    margin: 0 2rem;
   
}
#navbar-title {
    font-family:"Great Vibes", sans-serif;
    letter-spacing: 0.1em;
    font-size: 200%;
}

//Titre
.hero-scene {
    padding-top: 50px;
    font-size: clamp(15px, 5vw, 35px);
    //margin: 2vw;
}
// Footer
main{margin-bottom: 200px;}
footer.footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: $primary;
    font-family: $font-family-sans-serif; color: white;
    
}
